// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

// Colors
$primaryColor: hsl(94, 59%, 35%);
$hoverColor: #bdf094;
$paleGreen: hsl(96, 75%, 89%);
$whiteColor: hsl(0, 0%, 100%);
$blackColor: hsl(0, 0%, 10%);
$textColor: hsl(240, 1%, 50%);
$bgColor: hsl(220, 10%, 94%);
$greyText: rgb(190, 190, 190);
$inputColor: hsl(330, 12%, 97%);

// Fonts and Typography
$biggestFontSize: 2.5rem;
$h1FontSize: 1.5rem;
$h2FontSize: 1.25rem;
$normalFontSize: .938rem;
$smallFontSize: .813rem;
$smallestFontSize: .75rem;